p {
    margin: 0;
    padding: 0;
}
#nums{
    position:absolute;
    background-color:#009688;
    top:0px;
    left:0px;
    width:30px;
    height:500px; 
    color: #ffffff;
    text-align: center;
    font-family: 'Roboto', sans-serif; 
    font-size: 16pt;  
}
#program_space {
    position: absolute;
    top:0px;
    left:30px;
    background-color:#CFD8DC;
    height:500px;
    width:360px;
    color: #455A64;
    font-family: 'Roboto', sans-serif; 
    font-size: 16pt;
    
}
#btn-panel {
    position:absolute;
    background-color:#B2DFDB;
    top:420px;
    left:0px;
    height:80px;
    width:390px;
}
.btn {
    background-color:#607D8B;
    color: #ffffff;
    font-family: 'Roboto', sans-serif; 
    font-size: 18pt;
    margin: auto;
    width: 110px;
    height:70px;
    display:table-cell;
    text-align: center;
    vertical-align: middle;
    -webkit-box-shadow: 4px 2px 78px -50px rgba(0,0,0,0.73);
    text-shadow: 3px 3px 0px rgba(0,0,0,0.2);
    border-radius: 10px ;
}
#load-btn{
    position:absolute;
    top:5px;
    left:30px;
}
#start-btn {
    position:absolute;
    top:5px;
    left:150px;
}
#stop-btn {
    position:absolute;
    top:5px;
    left:270px;
}
#str-indicator {
    position:absolute;
    top:10px;
    left:0px;
    height:16px;
    width:360px;
    background-color:#009688;
}
#inner_div_z {
    left:0px;
    top:300px;
    height:150px;
    width:500px;
}