.demo {
	border:1px solid #C0C0C0;
	border-collapse:collapse;
	padding:5px;
    background:#000;
    table-layout: fixed;
    width:100%;
}
.demo th {
	border:1px solid #C0C0C0;
	padding:5px;
	background:#000;
}
.demo td {
	/*border:1px solid #C0C0C0;*/
    font-family: monospace;
    font-size: 14px;
	font-style: normal;
	font-variant: normal;
    font-weight: 400;
    line-height: 20px;
	width:0.5em;
    height:1em;
    color:#fff;
    margin:1em; 
    position: relative;
     z-index: 1;
}
.black-bg{
    background:black !important;
}
.red-bg{
    background:red !important;
}
.green-bg{
    background:green !important;
}
.yellow-bg{
    background:yellow !important;
}
.blue-bg{
    background:blue !important;
}
.magenta-bg{
    background:magenta !important;
}
.cyan-bg{
    background:cyan !important;
}
.lightgray-bg{
    background:lightgray !important;
}
.darkgray-bg{
    background:darkgrey !important;
}
.lightred-bg{
    background:orangered !important;
}
.lightgreen-bg{
    background:lightgreen !important;
}
.lightyellow-bg{
    background:lightyellow !important;
}
.lightblue-bg{
    background:lightblue !important;
}
.lightmagenta-bg{
    background:violet !important;
}
.lightcyan-bg{
    background:lightcyan !important;
}
.white-bg{
    background:white !important;
}
.black-fg{
    color:black !important;
}
.red-fg{
    color:red !important;
}
.green-fg{
    color:green !important;
}
.yellow-fg{
    color:yellow !important;
}
.blue-fg{
    color:blue !important;
}
.magenta-fg{
    color:magenta !important;
}
.cyan-fg{
    color:cyan !important;
}
.lightgray-fg{
    color:lightgray !important;
}
.darkgray-fg{
    color:darkgrey !important;
}
.lightred-fg{
    color:orangered !important;
}
.lightgreen-fg{
    color:lightgreen !important;
}
.lightyellow-fg{
    color:lightyellow !important;
}
.lightblue-fg{
    color:lightblue !important;
}
.lightmagenta-fg{
    color:violet !important;
}
.lightcyan-fg{
    color:lightcyan !important;
}
.white-fg{
    color:white !important;
}
.cursor{
    position: absolute;
    top: 0; 
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
    opacity: 0.5;
}
#focus_for_keyboard{
    opacity:0;
    position: absolute;
    bottom:0;
}