<body>
	<link rel="stylesheet" href="/public/css/axis-movements-widget.css" type="text/css"></link>
	<div id = "axis-movements-widget" class = "drag-drop" host="{{.host}}" port="{{.port}}" >
		<div id = "YkeyPos">
			<div id = "YPosLabel" onselectstart="return false" onmousedown="return false">+Y
			</div>
		</div>
		<div id = "YkeyNeg">
			<div id = "YNegLabel" onselectstart="return false" onmousedown="return false">-Y
			</div>
		</div>
		<div id = "XkeyNeg">
			<div id = "XNegLabel" onselectstart="return false" onmousedown="return false">-X
			</div>
		</div>
		<div id = "XkeyPos">
			<div id = "XPosLabel" onselectstart="return false" onmousedown="return false">+X
			</div>
		</div>
		<div id = "ZkeyPos">
			<div id = "ZPosLabel" onselectstart="return false" onmousedown="return false">+Z
			</div>
		</div>
		<div id = "ZkeyNeg">
			<div id = "ZNegLabel" onselectstart="return false" onmousedown="return false">-Z
			</div>
		</div>
	</div>
</body>