<head>
    <meta charset="utf-8">
</head>
<body>
    <link rel="stylesheet" href="/public/css/coordinates-info.css" type="text/css"></link>
    <link href='https://fonts.googleapis.com/css?family=Roboto:700,400&subset=latin,cyrillic-ext' rel='stylesheet' type='text/css'>
    <div id = "coord-info-widget" class = "drag-drop" host="{{.host}}" port="{{.port}}" draggable="true">
    <div id="inner_div_x" class="inner info">
        <table class="caption info">
            <tr>
                <td >X coordinate</td>
                <td class="caption info">
                    <table class="inner_rule info">
                        <tr>
                            <td class="inner_rule rule info"></td>
                        </tr>
                        <tr>
                            <td class="inner_rule info"></td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        <table class="content">
            <tr>
                <td class="content info">+0.0000</td>
                <td  class="info">
                    <div id = "zero_z" class = "zero">
                        Zero<br>X
                    </div>
                </td>
            </tr>
        </table>
    </div>
<div id="inner_div_y" class="inner info">
<table class="caption info">
    <tr>
        <td >Y coordinate</td>
        <td class="caption info">
            <table class="inner_rule info">
                <tr>
                    <td class="inner_rule rule info"></td>
                </tr>
                <tr>
                    <td class="inner_rule info"></td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<table class="content">
    <tr>
        <td class="content info">+0.0000</td>
        <td class="info">
        <div id = "zero_z" class = "zero">
            Zero<br>Y
        </div>
        </td>
    </tr>
</table>
</div>
<div id="inner_div_z" class="inner info">
<table class="caption info">
    <tr>
        <td >Z coordinate</td>
        <td class="caption info">
            <table class="inner_rule info">
                <tr>
                    <td class="inner_rule rule info"></td>
                </tr>
                <tr>
                    <td class="inner_rule info"></td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<table class="content">
    <tr>
        <td class="content info">+0.0000</td>
        <td class="info">
            <div id = "zero_z" class = "zero">
                Zero<br>Z
            </div>
        </td>
    </tr>
</table>
</div>
</div>
</body>